@model DesafioMejorado_DataBaseFirst.PersonaSet

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>PersonaSet</h4>
    || @Html.ActionLink("Imprimir", "CreatePDF_details", new { id = Model.Id })
    <hr />
    <dl class="movertxt" style="">
        <dt>
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Edad)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Edad)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Carrera)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Carrera)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cuatrimestre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cuatrimestre)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
